Problems with current LibreNMS use of PeeringDB

### The problem

I am with PeeringDB Operations.
  
LibreNMS's PeeringDB queries are contributing to overuse of the non-profit's resources. I hope to encourage improvements as follows.
  
Please make the following changes to your PeeringDB client:

- Change the User-Agent from the default of "GuzzleHttp" to "LibreNMS/[version]" where "[version]" is the LibreNMS version number.
  
- Implement support for PeeringDB API keys:
  
    https://docs.peeringdb.com/howto/api_keys/
  
- Don't enable PeeringDB caching & queries unless an API key is configured. This request is based on me observing that a ton of requests are made for ASNs that are not in PeeringDB. These requests are made over and over forever and the suspicion is that non-users of PeeringDB simply have LibreNMS's PeeringDB client enabled by default. This does not scale.
  
- In between HTTP requests, please include a `sleep(rand(3, 30));` to decrease your software's impact on the PeeringDB servers. Right now we routinely see a thundering herd problem due to LibreNMS current design.
    
- If able, please consider replacing your caching mechanism with one that is far more lightweight, that being our provided peeringdb-py tool:
  
    https://docs.peeringdb.com/howto/peeringdb-py/
    https://peeringdb.github.io/peeringdb-py/
    https://github.com/peeringdb/peeringdb-py
    
  A daily (or once every 71 hours if you prefer) synchronization with this tool, using a randomized start time, will be massively more lightweight than your current design.
  
Thank you and I am happy to answer questions or provide feedback on testing based on my viewpoint on the server side.


### Output of ./validate.php

```txt
N/A
```


### What was the last working version of LibreNMS?

_No response_

### Anything in the logs that might be useful for us?

_No response_

Sorry to hear that, I made an account a couple of weeks a go looking to modernize this code.

As I'm not the original author, I don't really understand what it does and how users use it.

The python caching seems to recommend caching daily, which is the same thing LibreNMS does.  I'm not sure what the difference is.  If you could outline the difference, I could improve LibreNMS.

LibreNMS has a random delay to offset the herd problem, but it seems it is only before the first request.   All requests after that are right after each other. 

Thank you for digging into this and the willingness to explore improving the code.

The current LibreNMS code appears to crawl a few ASNs, learning which IXPs those ASNs are at, and then learning which other networks are at those same IXPs.

The peeringdb-py code is a django client, which works well with the django server. Because of that, low-computation differential updates are able to be communicated, after a comparatively large initial update. At https://lists.peeringdb.com/pipermail/pdb-tech/2022-September/000444.html I have some sample timings for a sync to a local sqlite db:

Initial run:
```
time peeringdb sync	
	real    14m47.515s
	user    14m27.077s
	sys     0m1.939s
```
Update run:
```
time peeringdb sync	
	real    0m3.110s
	user    0m1.074s
	sys     0m0.088s
```

Obviously, that initial run is no small chunk of data (SeattleIX's current sqlite3 db is about 32 megabytes), so limiting LibreNMS users to folks that actually have a PeeringDB account, would be a good thing.

The beauty of the local cache is that once you have the data, you can go nuts on crawling it to derive relationships between networks and IXPs, etc.

A sample log of what we currently see server side is copied below. I've masked the one valid actual ASN with XXXXXXXX to protect privacy.

First thing to note is that the last column is the server time, so in line 5 where it indicates `10.848`, that means it took ~10.8 seconds to process. Added up across all those requests from the same IP address, and scaled across many LibreNMS users, this is a lot of CPU time that impacts our costs, while displacing our users who are more consciously choosing to use PeeringDB resources. Compare the total time served here of 7.67 minutes to the 3.1 second peeringdb-py sync above, to get an idea of the gain that is possible.

Those first 3 lines contain ASNs that aren't in PeeringDB (1 & 5) or aren't valid (AS23456 is reserved by IANA for the 4-byte ASN hack), hence the HTTP 404's. This implies to me either LibreNMS has some defaults that are being used here, or they are just random keystrokes by the user to attempt to generate samples. Or something. :-) Point being that restricting users of this code to those with a PeeringDB account and API key setup will go along way toward making it available to those you need it, while avoiding a cost from those who are oblivious to what PeeringDB is for. Even if a switch to peeringdb-py does not happen - which I realize it would be a bunch of work - limiting the current LibreNMS code to PeeringDB API key users, along with the thundering herd mitigation & User-Agent fixes, would be a great improvement.

```
[09/Nov/2022:14:16:54 +0000] "GET /api/net?depth=2&asn=1 HTTP/1.1" 404 51 "-" "GuzzleHttp/7" 0.203
[09/Nov/2022:14:16:56 +0000] "GET /api/net?depth=2&asn=5 HTTP/1.1" 404 51 "-" "GuzzleHttp/7" 0.191
[09/Nov/2022:14:16:58 +0000] "GET /api/net?depth=2&asn=23456 HTTP/1.1" 404 51 "-" "GuzzleHttp/7" 0.187
[09/Nov/2022:14:17:00 +0000] "GET /api/net?depth=2&asn=XXXXXXXX HTTP/1.1" 200 27061 "-" "GuzzleHttp/7" 0.413
[09/Nov/2022:14:17:13 +0000] "GET /api/netixlan?ix_id=3 HTTP/1.1" 200 74670 "-" "GuzzleHttp/7" 10.848
[09/Nov/2022:14:18:02 +0000] "GET /api/netixlan?ix_id=2 HTTP/1.1" 200 92087 "-" "GuzzleHttp/7" 9.431
[09/Nov/2022:14:18:53 +0000] "GET /api/netixlan?ix_id=977 HTTP/1.1" 200 36133 "-" "GuzzleHttp/7" 9.227
[09/Nov/2022:14:19:17 +0000] "GET /api/netixlan?ix_id=716 HTTP/1.1" 200 87990 "-" "GuzzleHttp/7" 9.215
[09/Nov/2022:14:20:02 +0000] "GET /api/netixlan?ix_id=513 HTTP/1.1" 200 40410 "-" "GuzzleHttp/7" 8.948
[09/Nov/2022:14:20:19 +0000] "GET /api/netixlan?ix_id=21 HTTP/1.1" 200 33498 "-" "GuzzleHttp/7" 9.374
[09/Nov/2022:14:20:39 +0000] "GET /api/netixlan?ix_id=576 HTTP/1.1" 200 30536 "-" "GuzzleHttp/7" 10.703
[09/Nov/2022:14:20:53 +0000] "GET /api/netixlan?ix_id=780 HTTP/1.1" 200 90245 "-" "GuzzleHttp/7" 9.259
[09/Nov/2022:14:21:23 +0000] "GET /api/netixlan?ix_id=984 HTTP/1.1" 200 30488 "-" "GuzzleHttp/7" 9.859
[09/Nov/2022:14:21:37 +0000] "GET /api/netixlan?ix_id=142 HTTP/1.1" 200 103247 "-" "GuzzleHttp/7" 9.264
[09/Nov/2022:14:22:24 +0000] "GET /api/netixlan?ix_id=158 HTTP/1.1" 200 161438 "-" "GuzzleHttp/7" 9.187
[09/Nov/2022:14:23:31 +0000] "GET /api/netixlan?ix_id=691 HTTP/1.1" 200 16134 "-" "GuzzleHttp/7" 8.956
[09/Nov/2022:14:23:44 +0000] "GET /api/netixlan?ix_id=429 HTTP/1.1" 200 66442 "-" "GuzzleHttp/7" 9.371
[09/Nov/2022:14:24:05 +0000] "GET /api/netixlan?ix_id=2658 HTTP/1.1" 200 9889 "-" "GuzzleHttp/7" 9.466
[09/Nov/2022:14:24:17 +0000] "GET /api/netixlan?ix_id=2761 HTTP/1.1" 200 32985 "-" "GuzzleHttp/7" 9.567
[09/Nov/2022:14:24:34 +0000] "GET /api/netixlan?ix_id=94 HTTP/1.1" 200 80809 "-" "GuzzleHttp/7" 11.369
[09/Nov/2022:14:24:57 +0000] "GET /api/netixlan?ix_id=1026 HTTP/1.1" 200 19632 "-" "GuzzleHttp/7" 8.795
[09/Nov/2022:14:25:11 +0000] "GET /api/netixlan?ix_id=804 HTTP/1.1" 200 96650 "-" "GuzzleHttp/7" 9.420
[09/Nov/2022:14:25:53 +0000] "GET /api/netixlan?ix_id=2627 HTTP/1.1" 200 5224 "-" "GuzzleHttp/7" 9.208
[09/Nov/2022:14:26:06 +0000] "GET /api/netixlan?ix_id=12 HTTP/1.1" 200 48713 "-" "GuzzleHttp/7" 10.625
[09/Nov/2022:14:26:25 +0000] "GET /api/netixlan?ix_id=126 HTTP/1.1" 200 110745 "-" "GuzzleHttp/7" 9.670
[09/Nov/2022:14:27:23 +0000] "GET /api/netixlan?ix_id=30 HTTP/1.1" 200 90291 "-" "GuzzleHttp/7" 9.419
[09/Nov/2022:14:27:51 +0000] "GET /api/netixlan?ix_id=167 HTTP/1.1" 200 47762 "-" "GuzzleHttp/7" 9.401
[09/Nov/2022:14:28:06 +0000] "GET /api/netixlan?ix_id=14 HTTP/1.1" 200 76512 "-" "GuzzleHttp/7" 9.925
[09/Nov/2022:14:28:34 +0000] "GET /api/netixlan?ix_id=2718 HTTP/1.1" 200 18291 "-" "GuzzleHttp/7" 9.366
[09/Nov/2022:14:28:48 +0000] "GET /api/netixlan?ix_id=2031 HTTP/1.1" 200 28259 "-" "GuzzleHttp/7" 9.157
[09/Nov/2022:14:29:07 +0000] "GET /api/netixlan?ix_id=1998 HTTP/1.1" 200 35292 "-" "GuzzleHttp/7" 8.990
[09/Nov/2022:14:29:30 +0000] "GET /api/netixlan?ix_id=26 HTTP/1.1" 200 289810 "-" "GuzzleHttp/7" 9.158
[09/Nov/2022:14:31:55 +0000] "GET /api/netixlan?ix_id=1308 HTTP/1.1" 200 20835 "-" "GuzzleHttp/7" 9.204
[09/Nov/2022:14:32:11 +0000] "GET /api/netixlan?ix_id=64 HTTP/1.1" 200 165491 "-" "GuzzleHttp/7" 9.220
[09/Nov/2022:14:33:18 +0000] "GET /api/netixlan?ix_id=1842 HTTP/1.1" 200 70558 "-" "GuzzleHttp/7" 9.216
[09/Nov/2022:14:33:47 +0000] "GET /api/netixlan?ix_id=31 HTTP/1.1" 200 405357 "-" "GuzzleHttp/7" 9.501
[09/Nov/2022:14:35:50 +0000] "GET /api/netixlan?ix_id=248 HTTP/1.1" 200 67786 "-" "GuzzleHttp/7" 10.715
[09/Nov/2022:14:36:10 +0000] "GET /api/netixlan?ix_id=74 HTTP/1.1" 200 62878 "-" "GuzzleHttp/7" 11.171
[09/Nov/2022:14:36:29 +0000] "GET /api/netixlan?ix_id=1214 HTTP/1.1" 200 81148 "-" "GuzzleHttp/7" 9.252
[09/Nov/2022:14:36:52 +0000] "GET /api/netixlan?ix_id=358 HTTP/1.1" 200 130202 "-" "GuzzleHttp/7" 9.560
[09/Nov/2022:14:38:08 +0000] "GET /api/netixlan?ix_id=1088 HTTP/1.1" 200 50027 "-" "GuzzleHttp/7" 9.489
[09/Nov/2022:14:38:23 +0000] "GET /api/netixlan?ix_id=1 HTTP/1.1" 200 128902 "-" "GuzzleHttp/7" 9.424
[09/Nov/2022:14:38:59 +0000] "GET /api/netixlan?ix_id=2762 HTTP/1.1" 200 15194 "-" "GuzzleHttp/7" 9.099
[09/Nov/2022:14:39:11 +0000] "GET /api/netixlan?ix_id=2756 HTTP/1.1" 200 9590 "-" "GuzzleHttp/7" 9.044
[09/Nov/2022:14:39:23 +0000] "GET /api/netixlan?ix_id=125 HTTP/1.1" 200 81555 "-" "GuzzleHttp/7" 10.315
[09/Nov/2022:14:39:48 +0000] "GET /api/netixlan?ix_id=3512 HTTP/1.1" 200 24212 "-" "GuzzleHttp/7" 9.267
[09/Nov/2022:14:40:01 +0000] "GET /api/netixlan?ix_id=3789 HTTP/1.1" 200 10599 "-" "GuzzleHttp/7" 8.904
[09/Nov/2022:14:40:14 +0000] "GET /api/netixlan?ix_id=1249 HTTP/1.1" 200 44875 "-" "GuzzleHttp/7" 9.574
[09/Nov/2022:14:40:41 +0000] "GET /api/netixlan?ix_id=18 HTTP/1.1" 200 293539 "-" "GuzzleHttp/7" 11.615
[09/Nov/2022:14:42:54 +0000] "GET /api/netixlan?ix_id=1997 HTTP/1.1" 200 28374 "-" "GuzzleHttp/7" 8.961
[09/Nov/2022:14:43:07 +0000] "GET /api/netixlan?ix_id=3990 HTTP/1.1" 200 4360 "-" "GuzzleHttp/7" 9.230
[09/Nov/2022:14:43:19 +0000] "GET /api/netixlan?ix_id=662 HTTP/1.1" 200 24383 "-" "GuzzleHttp/7" 9.158
```


I am pretty sure users cannot input ASN for the current database calls, it simply looks up all ASN on devices added to the LibreNMS instance and ASN of all peers of those devices.

AS1 is Lumen, so it is a valid AS.  How would LibreNMS determine it isn't needed? At least those calls only take 200ms.

When refreshing data with your python client, how is it determining which data to update and which data to not update?  (obviously it is not doing a full sync after the first)

As I understand things, AS1 isn't legitimately being used on today's Internet. There's a reason it is not listed by them in PeeringDB. Compare https://bgp.he.net/AS1#_peers with Lumen's active AS3356 https://bgp.he.net/AS3356#_peers .

peeringdb-py sync's look like this, which actually does keep the local cache fully in sync with the main database's public content:

```
[09/Nov/2022:16:40:29 +0000] "GET /api/org?since=1668005578&depth=0 HTTP/1.1" 200 509 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.776
[09/Nov/2022:16:40:30 +0000] "GET /api/fac?since=1667978345&depth=0 HTTP/1.1" 200 24 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.895
[09/Nov/2022:16:40:31 +0000] "GET /api/ix?since=1667983331&depth=0 HTTP/1.1" 200 862 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.415
[09/Nov/2022:16:40:31 +0000] "GET /api/net?since=1668007815&depth=0 HTTP/1.1" 200 1330 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.676
[09/Nov/2022:16:40:32 +0000] "GET /api/ixfac?since=1667983276&depth=0 HTTP/1.1" 200 24 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.569
[09/Nov/2022:16:40:33 +0000] "GET /api/ixlan?since=1667953298&depth=0 HTTP/1.1" 200 24 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.389
[09/Nov/2022:16:40:33 +0000] "GET /api/ixpfx?since=1667831423&depth=0 HTTP/1.1" 200 24 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.387
[09/Nov/2022:16:40:34 +0000] "GET /api/netfac?since=1668006825&depth=0 HTTP/1.1" 200 251 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.437
[09/Nov/2022:16:40:34 +0000] "GET /api/netixlan?since=1668006242&depth=0 HTTP/1.1" 200 385 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.609
[09/Nov/2022:16:40:35 +0000] "GET /api/poc?since=1668004690&depth=0 HTTP/1.1" 200 424 "-" "PeeringDB/1.2.1.1 django_peeringdb/2.13.0" 0.446
```

The initial full sync looks much the same, but with a `since=` of zero.

After an update, the timestamp gets moved forward for each object type.


I digged in to this a bit. 

1. The AS1 issue sources some invalid `bgpLocalAs` in the device table of some  (older?) devices without BGP at all 
```
MariaDB [librenms]> select DISTINCT `hardware`,`bgpLocalAs` FROM `devices` WHERE `disabled` = 0 AND `ignore` = 0 AND bgpLocalAs < 2000;
+-----------------------------------------+------------+
| hardware                                | bgpLocalAs |
+-----------------------------------------+------------+
| Nexus N9K-C9336C-FX2                   |          1 |
| Planet 8P                              |          3 |
| Planet 8P                              |         41 |
| WS-C3650-24PS-L                        |         80 |
| PARADYNE                               |        131 |
| NULL                                    |        197 |
| Juniper ACX710 Internet Backbone Router |        508 |
| Juniper EX2300-24T Switch               |        514 |

```
This can cause the mentioned peering API queries. I guess this should be fixed in the discovery (?) module -> #14752
We might implement some AS-blacklist (Bogons?)

2. We might implement a ASN Blacklist? AS1 etc... Beside of the [SQL Query](https://github.com/librenms/librenms/blob/master/includes/functions.php#L1256) some other RFC invalid ASN:
```
 # RFC7607
  ios-regex '_0_',
  # 2 to 4 byte ASN migrations
  passes-through '23456',
  # RFC5398
  passes-through '[64496..64511]',
  passes-through '[65536..65551]',
  # RFC6996
  passes-through '[64512..65534]',
  passes-through '[4200000000..4294967294]',
  # RFC7300
  passes-through '65535',
  passes-through '4294967295',
  # IANA reserved
  passes-through '[65552..131071]'
```
4. In my opinion the recursive peer->IX->all-other-peers lookup is way to enhanced. For monitoring perspective a peer->IX lookup would be sufficient (only connected neighbors)
5. peeringdb-py as an option?


6 is not really an option

Are you saying we should only be looking up bgpPeerRemoteAs (from the bgppeers table) @Bierchermuesli ?

That would make sense to me.  Not sure why you would need to see any local as.  (then again, I don't use peering db at all)

@Bierchermuesli actually, I'm still struggling to see how this is used and what it is supposed to do.  Could you make a video or something to show?  Or maybe a database dump of the relevant tables.

I'm not sure if @laf is still around, but I think he could answer @murrant's question about what it's meant to do

So the idea behind the peeringdb support is to cache the IXs that an ASN is connected to then obtain a list of other ASNs that are also connected to that IX from peeringdb. We then display this info in the LibreNMS interface and highlight which peers with the local ASN is connected to so they can send requests out to create new sessions.

Looking at the PeeringDB API, we should be able to add since= support to only retrieve updated/added or deleted records if that's ok @ccaputo?

We can also add support for a PeeringDB API key if you would like, it will at least make it slightly harder to enable the support and might reduce load because of that.

Hi @laf 
This is relevant to my Point N°4
> * [ ]  N°4 In my opinion the recursive peer->IX->all-other-peers lookup is way too enhanced and not necessary for most users. For monitoring perspective a peer->IX lookup would be sufficient (only connected neighbors)

in my opinion the recursive lookup (looking for possible new neighbors peerings) is a function which is used by <1% of librenms users. I would suggest, this recursive lookup is only running, if a the user configures his PeeringDB API Key. 

> Looking at the PeeringDB API, we should be able to add since= support to only retrieve updated/added or deleted records if that's ok @ccaputo?

I am not sure if "since=" will work with requests other than the full object records, like "GET /api/ixlan?since=1667953298&depth=0". It might be worth experimenting with.

> We can also add support for a PeeringDB API key if you would like, it will at least make it slightly harder to enable the support and might reduce load because of that.

That would be great. I would not be surprised if non-API key access is eventually cut off so being prepared for that well in advance would be good for your community.

> Hi @laf This is relevant to my Point N°4
> 
> > * [ ]   N°4 In my opinion the recursive peer->IX->all-other-peers lookup is way too enhanced and not necessary for most users. For monitoring perspective a peer->IX lookup would be sufficient (only connected neighbors)
> 
> in my opinion the recursive lookup (looking for possible new neighbors peerings) is a function which is used by <1% of librenms users. I would suggest, this recursive lookup is only running, if a the user configures his PeeringDB API Key.

❤️ 


Thanks for the input both, let me see what I can do.