RAISECOM-ISCOM S2600-8S4T4X-AC

### The problem

ISCOM S2600-8S4T4X-AC LLDP CPU MEMORY OPTICAL POWER MISSING

[discovery-10.10.101.109.txt](https://github.com/user-attachments/files/19793613/discovery-10.10.101.109.txt)

### Output of ./validate.php

```txt
librenms@web-server:~$ ./validate.php
===========================================
Component | Version
--------- | -------
LibreNMS  | 25.4.0-12-g234fa3277 (2025-04-17T11:51:54+05:30)
DB Schema | 2025_03_19_205700_fix_ospfv3_ports_table (331)
PHP       | 8.2.28
Python    | 3.11.2
Database  | MariaDB 10.3.39-MariaDB-0ubuntu0.20.04.2
RRDTool   | 1.7.2
SNMP      | 5.9.3
===========================================

[OK]    Composer Version: 2.8.8
[OK]    Dependencies up-to-date.
[OK]    Database Connected
[OK]    Database Schema is current
[OK]    SQL Server meets minimum requirements
[OK]    lower_case_table_names is enabled
[OK]    MySQL engine is optimal
[OK]    Database and column collations are correct
[OK]    Database schema correct
[OK]    MySQL and PHP time match
[OK]    Distributed Polling setting is enabled globally
[OK]    Connection to memcached is ok
[OK]    Connected to rrdcached
[OK]    Active pollers found
[OK]    Dispatcher Service not detected
[OK]    Locks are functional
[OK]    Python poller wrapper is polling
[OK]    Redis is unavailable
[OK]    rrdtool version ok
[OK]    Connected to rrdcached
librenms@web-server:~$
```

### What was the last working version of LibreNMS?

25.4.0-12-g234fa3277 (2025-04-17T11:51:54+05:30)

### Device info

RAISECOM-ISCOM S2600-8S4T4X-AC

### Discovery output

```txt
LibreNMS Discovery
SQL[select `migration` from `migrations` order by `id` desc limit 1 [] 1.17ms] 
  
SQL[select count(*) as aggregate from `migrations` [] 0.73ms] 
  
SQL[select version() [] 0.74ms] 
  
===========================================
Component | Version
--------- | -------
LibreNMS  | 25.3.0-97-gbeb356073 (2025-04-06T18:16:22+05:30)
DB Schema | 2025_03_19_205700_fix_ospfv3_ports_table (331)
PHP       | 8.2.28
Python    | 3.11.2
Database  | MariaDB 10.3.39-MariaDB-0ubuntu0.20.04.2
RRDTool   | 1.7.2
SNMP      | 5.9.3
===========================================
DEBUG!
LibreNMS config cache cleared and config reloaded.  
SQL[select `config_name`, `config_value` from `config` [] 1.91ms] 
  
SQL[select * from `graph_types` [] 1.47ms] 
  
SQL[SELECT * FROM `devices` WHERE disabled = 0 AND `hostname` LIKE '10.10.101.109' ORDER BY device_id DESC [] 2.17ms] 
  
10.10.101.109 744 raisecom SQL[select * from `devices` where `device_id` = ? limit 1 [744] 1.53ms] 
  
SQL[select * from `devices_attribs` where `devices_attribs`.`device_id` = ? and `devices_attribs`.`device_id` is not null [744] 0.73ms] 
  
[FPING] '/usr/bin/fping' '-e' '-q' '-c' '5' '-p' '300' '-t' '500' '-O' '0' '10.10.101.109'
  
response: 10.10.101.109 : xmt/rcv/%loss = 5/5/0%, min/avg/max = 2.32/3.67/4.73  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' '-Pu' 'udp:HOSTNAME:161' 'SNMPv2-MIB::sysObjectID.0']  
SNMPv2-MIB::sysObjectID.0 = SNMPv2-SMI::enterprises.8886.1.12600006
  
  
Modules status: Global+   
OS    
Device    

#### Load disco module core ####
Attempting to initialize OS: raisecom  
OS initialized as Generic (raisecom)  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' '-Pu' '-On' 'udp:HOSTNAME:161' 'SNMPv2-MIB::sysObjectID.0' 'SNMPv2-MIB::sysDescr.0' 'SNMPv2-MIB::sysName.0']  
.*.*.0 = .*.4.1.8886.1.12600006
.*.*.0 =  ISCOM S2600-8S4T4X-AC Sw Ver RESP V7.02.18,Hw Ver A.00,Mac a8:6d:5f:6a:c3:bb
.*.*.0 = Keshari_Cable_10G
  
  
| ISCOM S2600-8S4T4X-AC Sw Ver RESP V7.02.18,Hw Ver A.00,Mac a8:6d:5f:6a:c3:bb | .1.3.6.1.4.1.8886.1.12600006 | 
  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom:/opt/librenms/mibs/arris' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '.1.3.6.1.4.1.1166.1.621.14.2.0']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.1166.1.621.14.2.0

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.1166.1.621.14.2.0

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '.1.3.6.1.4.1.8072.1.3.2.3.1.2.6.100.105.115.116.114.111']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: NET-SNMP-MIB::netSnmpObjects.3.2.3.1.2.6.100.105.115.116.114.111

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: NET-SNMP-MIB::netSnmpObjects.3.2.3.1.2.6.100.105.115.116.114.111

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom:/opt/librenms/mibs/eltek' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '.1.3.6.1.4.1.12148.10.2.6.0']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.12148.10.2.6.0

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.12148.10.2.6.0

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom:/opt/librenms/mibs/hikvision' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '.1.3.6.1.4.1.39165.1.1.0']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.39165.1.1.0

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.39165.1.1.0

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom:/opt/librenms/mibs/orvaldi' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '.1.3.6.1.4.1.21111.1.1.1.6.0']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.21111.1.1.1.6.0

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.21111.1.1.1.6.0

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' '1.3.6.1.4.1.4515.1.3.6.1.1.1.2.0']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.4515.1.3.6.1.1.1.2.0

"] 
  
Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: SNMPv2-SMI::enterprises.4515.1.3.6.1.1.1.2.0

  
SNMP['/usr/bin/snmpget' '-M' '/opt/librenms/mibs:/opt/librenms/mibs/raisecom:/opt/librenms/mibs/primekey' '-m' 'SNMPv2-TC:SNMPv2-MIB:IF-MIB:IP-MIB:TCP-MIB:UDP-MIB:NET-SNMP-VACM-MIB' '-v2c' '-c' 'COMMUNITY' '-OQXUte' 'udp:HOSTNAME:161' 'PRIMEKEY-APPLIANCE-MIB::pkAVersion']  
Exitcode: 2 ["Error in packet
Reason: (noSuchName) There is no such variable name in this MIB.
Failed object: PRIMEKEY-APPLIANCE-MIB::pkAVersion

"]
```

### Poller output

```txt
.1.3.6.1.2.1.1.1.0 = STRING: " ISCOM S2600-8S4T4X-AC Sw Ver RESP V7.02.18,Hw Ver A.00,Mac a8:6d:5f:6a:c3:bb"
.1.3.6.1.2.1.1.2.0 = OID: .1.3.6.1.4.1.8886.1.12600006
.1.3.6.1.2.1.1.3.0 = Timeticks: (547628100) 63 days, 9:11:21.00
.1.3.6.1.2.1.1.4.0 = STRING: "help@raisecom.com"
.1.3.6.1.2.1.1.5.0 = STRING: "Keshari_Cable_10G"
.1.3.6.1.2.1.1.6.0 = STRING: "World China Raisecom"
.1.3.6.1.2.1.1.7.0 = INTEGER: 79
.1.3.6.1.2.1.1.8.0 = Timeticks: (157) 0:00:01.57
.1.3.6.1.2.1.1.9.1.2.1 = OID: .1.3.6.1.2.1.1
.1.3.6.1.2.1.1.9.1.2.2 = OID: .1.3.6.1.2.1.2
.1.3.6.1.2.1.1.9.1.2.3 = OID: .1.3.6.1.2.1.3
.1.3.6.1.2.1.1.9.1.2.4 = OID: .1.3.6.1.2.1.4
.1.3.6.1.2.1.1.9.1.2.5 = OID: .1.3.6.1.2.1.5
.1.3.6.1.2.1.1.9.1.2.6 = OID: .1.3.6.1.2.1.6
.1.3.6.1.2.1.1.9.1.2.7 = OID: .1.3.6.1.2.1.7
.1.3.6.1.2.1.1.9.1.2.8 = OID: .1.3.6.1.2.1.11
.1.3.6.1.2.1.1.9.1.2.9 = OID: .1.3.6.1.2.1.31
.1.3.6.1.2.1.1.9.1.2.10 = OID: .1.3.6.1.6.3.1
.1.3.6.1.2.1.1.9.1.2.11 = OID: .1.3.6.1.6.3.10
.1.3.6.1.2.1.1.9.1.2.12 = OID: .1.3.6.1.6.3.11
.1.3.6.1.2.1.1.9.1.2.13 = OID: .1.3.6.1.6.3.12
.1.3.6.1.2.1.1.9.1.2.14 = OID: .1.3.6.1.6.3.13
.1.3.6.1.2.1.1.9.1.2.15 = OID: .1.3.6.1.6.3.15
.1.3.6.1.2.1.1.9.1.2.16 = OID: .1.3.6.1.6.3.16
.1.3.6.1.2.1.1.9.1.2.17 = OID: .1.3.6.1.2.1.16.1.1.1
.1.3.6.1.2.1.1.9.1.2.18 = OID: .1.3.6.1.2.1.16.2.1.1
.1.3.6.1.2.1.1.9.1.2.19 = OID: .1.3.6.1.2.1.16.2.2.1
.1.3.6.1.2.1.1.9.1.2.20 = OID: .1.3.6.1.2.1.16.3.1.1
.1.3.6.1.2.1.1.9.1.2.21 = OID: .1.3.6.1.2.1.16.9.1.1
.1.3.6.1.2.1.1.9.1.2.22 = OID: .1.3.6.1.2.1.16.9.2.1
.1.3.6.1.2.1.1.9.1.2.23 = OID: .1.3.6.1.4.1.8886.1.1
.1.3.6.1.2.1.1.9.1.2.24 = OID: .1.3.6.1.4.1.8886.2.11.1
.1.3.6.1.2.1.1.9.1.2.25 = OID: .1.3.6.1.4.1.8886.2.11.3.0
.1.3.6.1.2.1.1.9.1.2.26 = OID: .1.3.6.1.4.1.8886.2.11.5.0
.1.3.6.1.2.1.1.9.1.2.27 = OID: .1.3.6.1.4.1.8886.2.11.7.0
.1.3.6.1.2.1.1.9.1.2.28 = OID: .1.3.6.1.4.1.8886.2.11.9.0
.1.3.6.1.2.1.1.9.1.2.29 = OID: .1.3.6.1.4.1.8886.2.11.11.0
.1.3.6.1.2.1.1.9.1.2.30 = OID: .1.3.6.1.4.1.8886.2.11.13.0
.1.3.6.1.2.1.1.9.1.2.31 = OID: .1.3.6.1.4.1.8886.2.11.15.0
.1.3.6.1.2.1.1.9.1.2.32 = OID: .1.3.6.1.4.1.8886.2.11.17.0
.1.3.6.1.2.1.1.9.1.2.33 = OID: .1.3.6.1.4.1.8886.2.15.1
.1.3.6.1.2.1.1.9.1.2.34 = OID: .1.3.6.1.4.1.8886.2.15.3
.1.3.6.1.2.1.1.9.1.2.35 = OID: .1.3.6.1.4.1.8886.2.15.5
.1.3.6.1.2.1.1.9.1.2.36 = OID: .1.3.6.1.4.1.8886.2.15.7
.1.3.6.1.2.1.1.9.1.2.37 = OID: .1.3.6.1.4.1.8886.2.15.9
.1.3.6.1.2.1.1.9.1.2.38 = OID: .1.3.6.1.4.1.8886.2.15.11
.1.3.6.1.2.1.1.9.1.2.39 = OID: .1.3.6.1.2.1.67
.1.3.6.1.2.1.1.9.1.2.40 = OID: .1.3.6.1.4.1.8886.2.201
.1.3.6.1.2.1.1.9.1.2.41 = OID: .1.3.6.1.4.1.8886.2.205
.1.3.6.1.2.1.1.9.1.2.42 = OID: .1.3.6.1.4.1.8886.2.209
.1.3.6.1.2.1.1.9.1.2.43 = OID: .1.3.6.1.4.1.8886.2.211
.1.3.6.1.2.1.1.9.1.2.44 = OID: .1.3.6.1.4.1.8886.2.215
.1.3.6.1.2.1.1.9.1.2.45 = OID: .1.3.6.1.4.1.8886.2.401
.1.3.6.1.2.1.1.9.1.2.46 = OID: .1.3.6.1.4.1.8886.2.605
.1.3.6.1.2.1.1.9.1.2.47 = OID: .1.3.6.1.4.1.8886.2.607
.1.3.6.1.2.1.1.9.1.2.48 = OID: .1.3.6.1.4.1.8886.2.609
.1.3.6.1.2.1.1.9.1.2.49 = OID: .1.3.6.1.4.1.8886.2.803
.1.3.6.1.2.1.1.9.1.2.50 = OID: .1.3.6.1.4.1.8886.2.805
.1.3.6.1.2.1.1.9.1.2.51 = OID: .1.3.6.1.4.1.8886.2.807
.1.3.6.1.2.1.1.9.1.2.52 = OID: .1.3.6.1.4.1.8886.2.809
.1.3.6.1.2.1.1.9.1.2.53 = OID: .1.3.6.1.4.1.8886.2.811
.1.3.6.1.2.1.1.9.1.2.54 = OID: .1.3.6.1.4.1.8886.2.813
.1.3.6.1.2.1.1.9.1.2.55 = OID: .1.3.6.1.4.1.8886.2.815
.1.3.6.1.2.1.1.9.1.2.56 = OID: .1.3.6.1.4.1.8886.2.817
.1.3.6.1.2.1.1.9.1.2.57 = OID: .1.3.6.1.2.1.158
.1.3.6.1.2.1.1.9.1.2.58 = OID: .1.3.6.1.4.1.8886.2.821
.1.3.6.1.2.1.1.9.1.2.59 = OID: .1.3.6.1.4.1.8886.2.1201
.1.3.6.1.2.1.1.9.1.2.60 = OID: .1.3.6.1.4.1.8886.2.1203
.1.3.6.1.2.1.1.9.1.2.61 = OID: .1.3.6.1.4.1.8886.2.1205
.1.3.6.1.2.1.1.9.1.2.62 = OID: .1.3.6.1.4.1.8886.2.1401
.1.3.6.1.2.1.1.9.1.2.63 = OID: .1.3.6.1.4.1.8886.2.1403
.1.3.6.1.2.1.1.9.1.2.64 = OID: .1.3.6.1.4.1.8886.2.1413
.1.3.6.1.2.1.1.9.1.2.65 = OID: .1.3.6.1.4.1.8886.2.1607
.1.3.6.1.2.1.1.9.1.2.66 = OID: .1.3.6.1.4.1.8886.2.1801
.1.3.6.1.2.1.1.9.1.2.67 = OID: .1.3.6.1.4.1.8886.2.1809
.1.3.6.1.2.1.1.9.1.2.68 = OID: .1.3.6.1.4.1.8886.2.1815
.1.3.6.1.2.1.1.9.1.2.69 = OID: .1.3.6.1.4.1.8886.2.2401
.1.3.6.1.2.1.1.9.1.2.70 = OID: .1.0.8802.1.1.2
.1.3.6.1.2.1.1.9.1.2.71 = OID: .1.3.6.1.4.1.8886.2.2403
.1.3.6.1.2.1.1.9.1.2.72 = OID: .1.0.8802.1.1.2.1.5.32962
.1.3.6.1.2.1.1.9.1.2.73 = OID: .1.0.8802.1.1.2.1.5.4623
.1.3.6.1.2.1.1.9.1.2.74 = OID: .1.0.8802.1.1.2.1.5.4795
.1.3.6.1.2.1.1.9.1.2.75 = OID: .1.3.6.1.4.1.8886.2.2409
.1.3.6.1.2.1.1.9.1.2.76 = OID: .1.3.6.1.4.1.8886.2.2411
.1.3.6.1.2.1.1.9.1.2.77 = OID: .1.3.6.1.4.1.8886.2.2413
.1.3.6.1.2.1.1.9.1.2.78 = OID: .1.3.6.1.4.1.8886.2.2419
.1.3.6.1.2.1.1.9.1.2.79 = OID: .1.3.6.1.4.1.8886.2.2603
.1.3.6.1.2.1.1.9.1.2.80 = OID: .1.3.6.1.4.1.8886.2.2605
.1.3.6.1.2.1.1.9.1.2.81 = OID: .1.3.6.1.4.1.8886.2.2607
.1.3.6.1.2.1.1.9.1.2.82 = OID: .1.3.6.1.4.1.8886.2.2611
.1.3.6.1.2.1.1.9.1.2.83 = OID: .1.3.6.1.4.1.8886.2.2615
.1.3.6.1.2.1.1.9.1.2.84 = OID: .1.3.6.1.4.1.8886.2.2617
.1.3.6.1.2.1.1.9.1.2.85 = OID: .1.3.6.1.4.1.8886.2.2635
.1.3.6.1.2.1.1.9.1.2.86 = OID: .1.3.6.1.4.1.8886.2.2803
.1.3.6.1.2.1.1.9.1.2.87 = OID: .1.3.6.1.4.1.8886.2.2807
.1.3.6.1.2.1.1.9.1.2.88 = OID: .1.3.6.1.4.1.8886.2.2809
.1.3.6.1.2.1.1.9.1.2.89 = OID: .1.3.6.1.4.1.8886.2.3211
.1.3.6.1.2.1.1.9.1.2.90 = OID: .1.3.6.1.4.1.8886.2.3213
.1.3.6.1.2.1.1.9.1.2.91 = OID: .1.3.6.1.4.1.8886.2.3215
.1.3.6.1.2.1.1.9.1.2.92 = OID: .1.3.6.1.4.1.8886.2.3221
.1.3.6.1.2.1.1.9.1.2.93 = OID: .1.3.6.1.4.1.8886.2.3229
.1.3.6.1.2.1.1.9.1.2.94 = OID: .1.3.6.1.4.1.8886.2.3401
.1.3.6.1.2.1.1.9.1.2.95 = OID: .1.3.6.1.4.1.8886.2.3405
.1.3.6.1.2.1.1.9.1.2.96 = OID: .1.3.6.1.4.1.8886.2.3601
.1.3.6.1.2.1.1.9.1.2.97 = OID: .1.3.6.1.4.1.8886.2.3613
.1.3.6.1.2.1.1.9.1.2.98 = OID: .1.3.6.1.4.1.8886.2.3801
.1.3.6.1.2.1.1.9.1.2.99 = OID: .1.3.6.1.4.1.8886.2.3807
.1.3.6.1.2.1.1.9.1.2.100 = OID: .1.3.6.1.4.1.8886.2.3811
.1.3.6.1.2.1.1.9.1.2.101 = OID: .1.3.6.1.4.1.8886.2.3815
.1.3.6.1.2.1.1.9.1.2.102 = OID: .1.3.6.1.4.1.8886.2.3817
.1.3.6.1.2.1.1.9.1.2.103 = OID: .1.3.6.1.4.1.8886.2.3819
.1.3.6.1.2.1.1.9.1.2.104 = OID: .1.3.6.1.4.1.8886.2.4003
.1.3.6.1.2.1.1.9.1.2.105 = OID: .1.3.6.1.4.1.8886.2.4005
.1.3.6.1.2.1.1.9.1.2.106 = OID: .1.3.6.1.4.1.8886.2.4007
.1.3.6.1.2.1.1.9.1.2.107 = OID: .1.3.6.1.4.1.8886.2.4201
.1.3.6.1.2.1.1.9.1.2.108 = OID: .1.3.6.1.4.1.8886.2.4205
.1.3.6.1.2.1.1.9.1.2.109 = OID: .1.3.6.1.4.1.8886.2.4401
.1.3.6.1.2.1.1.9.1.2.110 = OID: .1.3.6.1.4.1.8886.2.4403
.1.3.6.1.2.1.1.9.1.2.111 = OID: .1.3.6.1.2.1.68.1
.1.3.6.1.2.1.1.9.1.2.112 = OID: .1.3.6.1.4.1.8886.2.4407
.1.3.6.1.2.1.1.9.1.2.113 = OID: .1.3.6.1.4.1.8886.2.4601
.1.3.6.1.2.1.1.9.1.2.114 = OID: .1.3.6.1.4.1.8886.2.4605
.1.3.6.1.2.1.1.9.1.2.115 = OID: .1.3.6.1.4.1.8886.2.5201
.1.3.6.1.2.1.1.9.1.3.1 = STRING: "RFC 1213-SYSTEM-MIB"
.1.3.6.1.2.1.1.9.1.3.2 = STRING: "RFC 1213-INTERFACE-MIB"
.1.3.6.1.2.1.1.9.1.3.3 = STRING: "RFC 1213-AT-MIB"
.1.3.6.1.2.1.1.9.1.3.4 = STRING: "RFC 1213-IP-MIB"
.1.3.6.1.2.1.1.9.1.3.5 = STRING: "RFC 1213-ICMP-MIB"
.1.3.6.1.2.1.1.9.1.3.6 = STRING: "RFC 1213-TCP-MIB"
.1.3.6.1.2.1.1.9.1.3.7 = STRING: "RFC 1213-UDP-MIB"
.1.3.6.1.2.1.1.9.1.3.8 = STRING: "RFC 1213-SNMP-MIB"
.1.3.6.1.2.1.1.9.1.3.9 = STRING: "RFC 2233-IF-MIB"
.1.3.6.1.2.1.1.9.1.3.10 = STRING: "RFC 1907-SNMPv2-MIB"
.1.3.6.1.2.1.1.9.1.3.11 = STRING: "RFC 2571-SNMP-FRAMEWORK-MIB"
.1.3.6.1.2.1.1.9.1.3.12 = STRING: "RFC 2572-SNMP-MPD-MIB"
.1.3.6.1.2.1.1.9.1.3.13 = STRING: "RFC 2573-SNMP-TARGET-MIB"
.1.3.6.1.2.1.1.9.1.3.14 = STRING: "RFC 2573-SNMP-NOTIFICATION-MIB"
.1.3.6.1.2.1.1.9.1.3.15 = STRING: "RFC 2574-SNMP-USER-BASED-SM-MIB"
.1.3.6.1.2.1.1.9.1.3.16 = STRING: "RFC 2575-SNMP-VIEW-BASED-ACM-MIB"
.1.3.6.1.2.1.1.9.1.3.17 = STRING: "RMON-ETHERSTATS-MIB"
.1.3.6.1.2.1.1.9.1.3.18 = STRING: "RMON-HISTORYCONTROL-MIB"
.1.3.6.1.2.1.1.9.1.3.19 = STRING: "RMON-ETHERHISTORY-MIB"
.1.3.6.1.2.1.1.9.1.3.20 = STRING: "RMON-ALARM-MIB"
.1.3.6.1.2.1.1.9.1.3.21 = STRING: "RMON-EVENT-MIB"
.1.3.6.1.2.1.1.9.1.3.22 = STRING: "RMON-LOG-MIB"
.1.3.6.1.2.1.1.9.1.3.23 = STRING: "DEVICE-MIB"
.1.3.6.1.2.1.1.9.1.3.24 = STRING: "CARD-MIB"
.1.3.6.1.2.1.1.9.1.3.25 = STRING: "CPU-MIB"
.1.3.6.1.2.1.1.9.1.3.26 = STRING: "FAN-MIB"
.1.3.6.1.2.1.1.9.1.3.27 = STRING: "IMAGE-MIB"
.1.3.6.1.2.1.1.9.1.3.28 = STRING: "MEMORY-MIB"
.1.3.6.1.2.1.1.9.1.3.29 = STRING: "POWER-MIB"
.1.3.6.1.2.1.1.9.1.3.30 = STRING: "SLOT-MIB"
.1.3.6.1.2.1.1.9.1.3.31 = STRING: "TEMPERATURE-MIB"
.1.3.6.1.2.1.1.9.1.3.32 = STRING: "VOLTAGE-MIB"
.1.3.6.1.2.1.1.9.1.3.33 = STRING: "VLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.34 = STRING: "SUPERVLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.35 = STRING: "IPVLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.36 = STRING: "MACVLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.37 = STRING: "PROTOCOLVLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.38 = STRING: "VOICEVLAN-MIB"
.1.3.6.1.2.1.1.9.1.3.39 = STRING: "RFC2620-RADIUS-MIB"
.1.3.6.1.2.1.1.9.1.3.40 = STRING: "AAA-MIB"
.1.3.6.1.2.1.1.9.1.3.41 = STRING: "ALB-MIB"
.1.3.6.1.2.1.1.9.1.3.42 = STRING: "ARP-MIB"
.1.3.6.1.2.1.1.9.1.3.43 = STRING: "ARPANTIATTACK-MIB"
.1.3.6.1.2.1.1.9.1.3.44 = STRING: "ARPPROBE-MIB"
.1.3.6.1.2.1.1.9.1.3.45 = STRING: "BFD-MIB"
.1.3.6.1.2.1.1.9.1.3.46 = STRING: "COUNTER-MIB"
.1.3.6.1.2.1.1.9.1.3.47 = STRING: "CPUDEFEND-MIB"
.1.3.6.1.2.1.1.9.1.3.48 = STRING: "CRB-MIB"
.1.3.6.1.2.1.1.9.1.3.49 = STRING: "DDM-MIB"
.1.3.6.1.2.1.1.9.1.3.50 = STRING: "DHCP-MIB"
.1.3.6.1.2.1.1.9.1.3.51 = STRING: "DHCP6-MIB"
.1.3.6.1.2.1.1.9.1.3.52 = STRING: "DHCPCLIENT-MIB"
.1.3.6.1.2.1.1.9.1.3.53 = STRING: "DHCPSNOOP-MIB"
.1.3.6.1.2.1.1.9.1.3.54 = STRING: "DIFFSERV-MIB"
.1.3.6.1.2.1.1.9.1.3.55 = STRING: "DNS-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.56 = STRING: "DOSANTIATTACK-MIB"
.1.3.6.1.2.1.1.9.1.3.57 = STRING: "RFC4878-Dot3OAM-MIB"
.1.3.6.1.2.1.1.9.1.3.58 = STRING: "DOT3AH-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.59 = STRING: "FILTER-MIB"
.1.3.6.1.2.1.1.9.1.3.60 = STRING: "FLUSH-MIB"
.1.3.6.1.2.1.1.9.1.3.61 = STRING: "FLUSH-MIB"
.1.3.6.1.2.1.1.9.1.3.62 = STRING: "G8031-MIB"
.1.3.6.1.2.1.1.9.1.3.63 = STRING: "G8032-MIB"
.1.3.6.1.2.1.1.9.1.3.64 = STRING: "GRATUITOUSARP-MIB"
.1.3.6.1.2.1.1.9.1.3.65 = STRING: "HWMC-MIB"
.1.3.6.1.2.1.1.9.1.3.66 = STRING: "ISS-MIB"
.1.3.6.1.2.1.1.9.1.3.67 = STRING: "IPSG-MIB"
.1.3.6.1.2.1.1.9.1.3.68 = STRING: "IGMPSNOOP-MIB"
.1.3.6.1.2.1.1.9.1.3.69 = STRING: "L2CP-MIB"
.1.3.6.1.2.1.1.9.1.3.70 = STRING: "LLDP-MIB"
.1.3.6.1.2.1.1.9.1.3.71 = STRING: "LLDP-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.72 = STRING: "LLDP-DOT1-MIB"
.1.3.6.1.2.1.1.9.1.3.73 = STRING: "LLDP-DOT3-MIB"
.1.3.6.1.2.1.1.9.1.3.74 = STRING: "LLDP-MED-MIB"
.1.3.6.1.2.1.1.9.1.3.75 = STRING: "LOCALPREFERENCE-MIB"
.1.3.6.1.2.1.1.9.1.3.76 = STRING: "LOG-MIB"
.1.3.6.1.2.1.1.9.1.3.77 = STRING: "LINKFLAP-MIB"
.1.3.6.1.2.1.1.9.1.3.78 = STRING: "LACP-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.79 = STRING: "MAD-MIB"
.1.3.6.1.2.1.1.9.1.3.80 = STRING: "MAM-MIB"
.1.3.6.1.2.1.1.9.1.3.81 = STRING: "METER-MIB"
.1.3.6.1.2.1.1.9.1.3.82 = STRING: "MIRROR-MIB"
.1.3.6.1.2.1.1.9.1.3.83 = STRING: "MLDSNOOP-MIB"
.1.3.6.1.2.1.1.9.1.3.84 = STRING: "MLINK-MIB"
.1.3.6.1.2.1.1.9.1.3.85 = STRING: "MVRP-MIB"
.1.3.6.1.2.1.1.9.1.3.86 = STRING: "NDSNOOP-MIB"
.1.3.6.1.2.1.1.9.1.3.87 = STRING: "NQA-MIB"
.1.3.6.1.2.1.1.9.1.3.88 = STRING: "NTP-MIB"
.1.3.6.1.2.1.1.9.1.3.89 = STRING: "PETHPSE-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.90 = STRING: "POLICYROUTE-MIB"
.1.3.6.1.2.1.1.9.1.3.91 = STRING: "PORTISOLATE-MIB"
.1.3.6.1.2.1.1.9.1.3.92 = STRING: "PPPOEPLUS-MIB"
.1.3.6.1.2.1.1.9.1.3.93 = STRING: "PTP-MIB"
.1.3.6.1.2.1.1.9.1.3.94 = STRING: "QINQ-MIB"
.1.3.6.1.2.1.1.9.1.3.95 = STRING: "QUEUE-MIB"
.1.3.6.1.2.1.1.9.1.3.96 = STRING: "RA-MIB"
.1.3.6.1.2.1.1.9.1.3.97 = STRING: "RLINK-MIB"
.1.3.6.1.2.1.1.9.1.3.98 = STRING: "SCHEDULEPROFILE-MIB"
.1.3.6.1.2.1.1.9.1.3.99 = STRING: "SNMP-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.100 = STRING: "SOA-MIB"
.1.3.6.1.2.1.1.9.1.3.101 = STRING: "STORMSUPPRESSION-MIB"
.1.3.6.1.2.1.1.9.1.3.102 = STRING: "STP-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.103 = STRING: "SYSLOG-MIB"
.1.3.6.1.2.1.1.9.1.3.104 = STRING: "TFTP-MIB"
.1.3.6.1.2.1.1.9.1.3.105 = STRING: "TIMERANGE-MIB"
.1.3.6.1.2.1.1.9.1.3.106 = STRING: "TIMERTRAP-MIB"
.1.3.6.1.2.1.1.9.1.3.107 = STRING: "UDLD-MIB"
.1.3.6.1.2.1.1.9.1.3.108 = STRING: "USER-MIB"
.1.3.6.1.2.1.1.9.1.3.109 = STRING: "VCT-MIB"
.1.3.6.1.2.1.1.9.1.3.110 = STRING: "VLANMAPPING-MIB"
.1.3.6.1.2.1.1.9.1.3.111 = STRING: "RFC VRRP-MIB"
.1.3.6.1.2.1.1.9.1.3.112 = STRING: "VRRP-PRIV-MIB"
.1.3.6.1.2.1.1.9.1.3.113 = STRING: "WATCHDOG-MIB"
.1.3.6.1.2.1.1.9.1.3.114 = STRING: "WRED-MIB"
.1.3.6.1.2.1.1.9.1.3.115 = STRING: "ZTP-MIB"
```