Device Inventory

Hello, im new here, and im very interested in this project and hope i can contribute in this project, 
i have installed the newest observium and compare to librenms, everything seems right, but there is something that bugging me, that is the inventory list that is seems to be buggy.

- The list is not nested.
- I have Cisco SFPs that are DOM capable that i want to monitor, but the graph i get is CPU graph.

Can i get solution for this? i want to contribute but i have no clue to do that.

Please help, thanks guys.

Regards,
Yoseph

Hi @damardjati 

The inventory page does indeed need to be fixed, feel free to help contribute code to fix that: 

http://docs.librenms.org/Developing/Code-Guidelines/
http://docs.librenms.org/General/Contributing/

As for the Cisco SFP, have you got any further information. What part number, what kit are they installed in?

I got the part number but, not the type ( it's not so important ),
but Cisco have features the DOM capability that can monitor voltage, Tx and Rx power from SNMP that very useful to monitor the physical link quality.

Im so happy to contribute this, please help if i have any problem with the codes, really my background is network engineer, not really a full time programmer :smile: , give me time to learn the codes.

Thanks !!

I can see voltage, TX and RX in the health page of our ASR and Nexus kit. Do you not have the same or are you looking for something different?

No worries on contributing, if you need any help it's worth dropping by the IRC channel.

:smile:  yes, i know that, because only specific platform can support he CISCO-ENTITY-MIB, but the weird things is, there are voltage, Tx, Rx list but it's linked to CPU processor graph and memory.
Could it be bug ?

Thanks :smile: 

That's really odd - have you got a screenshot to show us as mine works fine.

Hope it's a bug, they are easier to sort :)

![capture](https://cloud.githubusercontent.com/assets/11530435/6722332/95e38e7a-ce0a-11e4-8a02-ea95831579a5.png)

here it is, no graph from sfp sensor, but when i click the link it will be redirected to CPU, processor and memory.. 



@damardjati Can you let us know the models of the devices you are using, we will need this to try and work out what's going on. I expect the fact it's not graphing correctly might be why the link is wrong as it works for me :)

Hi, neil
I use Cisco 2960-c that doesnt support Cisco entity mib, and i use glc sx
smd sfp, when i use observium it only display the serial number and sfp
type, the voltage etc sensor should not displayed. Hope it helps.
On Mar 23, 2015 1:05 AM, "Neil Lathwood" <notifications@github.com> wrote:

> @damardjati <https://github.com/damardjati> Can you let us know the
> models of the devices you are using, we will need this to try and work out
> what's going on. I expect the fact it's not graphing correctly might be why
> the link is wrong as it works for me :)
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/librenms/librenms/issues/614#issuecomment-84667742>.
>


@damardjati A PR has been put in now that should fix the inventory page nesting so this works as you would expect.

As for your hardware, I don't have any 2960-C's, only G's so can't test this.

Can you provide an snmpbulkwalk of the device so we can get some data to look at?

sorry neil, the exact platform is WS-C2960CG-8TC-L ,

here is some of snmpbulkwalk,

sysDescr.0 = STRING: Cisco IOS Software, C2960C Software (C2960c405ex-UNIVERSALK9-M), Version 15.0(2)SE5, RELEASE SOFTWARE (fc1)
Technical Support: http://www.cisco.com/techsupport
Copyright (c) 1986-2013 by Cisco Systems, Inc.
Compiled Fri 25-Oct-13 14:41 by prod_rel_team
sysObjectID.0 = OID: enterprises.9.1.1316
sysORID.1 = OID: enterprises.9.7.129
sysORID.2 = OID: enterprises.9.7.115
sysORID.3 = OID: enterprises.9.7.265
sysORID.4 = OID: enterprises.9.7.112
sysORID.5 = OID: enterprises.9.7.106
sysORID.6 = OID: enterprises.9.7.47
sysORID.7 = OID: enterprises.9.7.122
sysORID.8 = OID: enterprises.9.7.135
sysORID.9 = OID: enterprises.9.7.43
sysORID.10 = OID: enterprises.9.7.37
sysORID.11 = OID: enterprises.9.7.92
sysORID.12 = OID: enterprises.9.7.53
sysORID.13 = OID: enterprises.9.7.54
sysORID.14 = OID: enterprises.9.7.52
sysORID.15 = OID: enterprises.9.7.93
sysORID.16 = OID: enterprises.9.7.186
sysORID.17 = OID: enterprises.9.7.128
sysORID.18 = OID: enterprises.9.7.121
sysORID.19 = OID: enterprises.9.7.44
sysORID.20 = OID: enterprises.9.7.350
sysORID.21 = OID: enterprises.9.7.33
sysORID.22 = OID: enterprises.9.7.130
sysORID.23 = OID: enterprises.9.7.568
sysORID.24 = OID: enterprises.9.7.116
sysORID.25 = OID: enterprises.9.7.91
sysORID.26 = OID: enterprises.9.7.999
sysORID.27 = OID: enterprises.9.7.9999
sysORID.28 = OID: enterprises.9.7.126
sysORID.29 = OID: enterprises.9.7.127
sysORID.30 = OID: enterprises.9.7.64
sysORID.31 = OID: enterprises.9.7.439
sysORID.32 = OID: enterprises.9.7.438
sysORID.33 = OID: enterprises.9.7.123
sysORID.34 = OID: enterprises.9.7.120
sysORID.35 = OID: enterprises.9.7.124
sysORID.36 = OID: enterprises.9.7.119
sysORID.37 = OID: enterprises.9.7.125
sysORID.38 = OID: enterprises.9.7.45
sysORID.39 = OID: enterprises.9.7.445
sysORID.40 = OID: enterprises.9.7.595
sysORID.41 = OID: enterprises.9.7.46
sysORID.42 = OID: enterprises.9.7.584
sysORID.43 = OID: enterprises.9.7.201
sysORID.44 = OID: enterprises.9.7.202
sysORID.45 = OID: enterprises.9.7.440
sysORID.46 = OID: enterprises.9.7.16
sysORID.47 = OID: enterprises.9.7.17
sysORID.48 = OID: enterprises.9.7.319
sysORID.49 = OID: enterprises.9.7.36
sysORID.50 = OID: enterprises.9.7.209
sysORID.51 = OID: enterprises.9.7.412
sysORID.52 = OID: enterprises.9.7.406
sysORID.53 = OID: enterprises.9.7.256
sysORID.54 = OID: enterprises.9.7.101
sysORID.55 = OID: enterprises.9.7.105
sysORID.56 = OID: enterprises.9.7.108
sysORID.57 = OID: enterprises.9.7.103
sysORID.58 = OID: enterprises.9.7.107
sysORID.59 = OID: enterprises.9.7.109
sysORID.60 = OID: enterprises.9.7.110
sysORID.61 = OID: enterprises.9.7.111
sysORID.62 = OID: enterprises.9.7.102
sysORID.63 = OID: enterprises.9.7.102
sysORID.64 = OID: enterprises.9.7.120
sysORID.65 = OID: enterprises.9.7.115
sysORID.66 = OID: enterprises.9.7.62
sysORID.67 = OID: enterprises.9.7.181
sysORID.68 = OID: enterprises.9.7.28
sysORID.69 = OID: enterprises.9.7.117
sysORID.70 = OID: enterprises.9.7.39
sysORID.71 = OID: enterprises.9.7.113
sysORID.72 = OID: enterprises.9.7.114
sysORID.73 = OID: enterprises.9.7.261
sysORID.74 = OID: enterprises.9.7.104
sysORID.75 = OID: enterprises.9.7.187
sysORID.76 = OID: enterprises.9.7.26
sysORID.77 = OID: enterprises.9.7.51
sysORID.78 = OID: enterprises.9.7.118
sysORID.79 = OID: enterprises.9.7.37
sysORID.80 = OID: enterprises.9.7.82
sysORID.81 = OID: enterprises.9.7.83
sysORID.82 = OID: enterprises.9.7.84
sysORID.83 = OID: enterprises.9.7.303
sysORID.84 = OID: enterprises.9.7.1
sysORID.85 = OID: enterprises.9.7.2
sysORID.86 = OID: enterprises.9.7.3
sysORID.87 = OID: enterprises.9.7.4
sysORID.88 = OID: enterprises.9.7.5
sysORID.89 = OID: enterprises.9.7.6
sysORID.90 = OID: enterprises.9.7.7
sysORID.91 = OID: enterprises.9.7.8
sysORID.92 = OID: enterprises.9.7.9
sysORID.93 = OID: enterprises.9.7.10
sysORID.94 = OID: enterprises.9.7.11
sysORID.95 = OID: enterprises.9.7.12
sysORID.96 = OID: enterprises.9.7.13
sysORID.97 = OID: enterprises.9.7.14
sysORID.98 = OID: enterprises.9.7.15
sysORDescr.1 = STRING: Agent capabilities for CISCO-AAA-SERVER-MIB
 LAST-UPDATED 200001200000Z 
ciscoAAAServerCapabilityV10R00 AGENT-CAPABILITIES
 SUPPORTS CISCO-AAA-SERVER-MIB
File name: ios
sysORDescr.2 = STRING: Agent capabilities for CISCO-ALPS-MIB
 LAST-UPDATED 9710270000Z 
ciscoAlpsCapabilityV01R01 AGENT-CAPABILITIES
SUPPORTS CISCO-ALPS-MIB
File name: ios
sysORDescr.3 = STRING: The Agent Capabilities for 
                CISCO-ATM-PVCTRAP-EXTN-MIB.
 LAST-UPDATED 200211060000Z 
ciscoATMPVCTRAPExtnCapabilityV12R00S AGENT-CAPABILITIES
 SUPPORTS CISCO-ATM-PVCTRAP-EXTN-MIB
File name: ios
sysORDescr.4 = STRING: Agent capabilities for BGP4-MIB
 LAST-UPDATED 9408180000Z 
ciscoBgp4CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS BGP4-MIB
File name: ios
sysORDescr.5 = STRING: The capabilities description of BRIDGE-MIB.
 LAST-UPDATED 201009090000Z 
ciscoBridgeCapCatOSV08R0601 AGENT-CAPABILITIES
 SUPPORTS BRIDGE-MIB
File name: ios
sysORDescr.6 = STRING: Agent capabilities for CALL-HISTORY-MIB
 LAST-UPDATED 9611190000Z 
ciscoCallHistoryCapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS CISCO-CALL-HISTORY-MIB
File name: ios
sysORDescr.7 = STRING: Agent capabilities for CISCO-CAS-IF-MIB
 LAST-UPDATED 9709150000Z 
ciscoCasIfCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-CAS-IF-MIB
File name: ios
sysORDescr.8 = STRING: Agent capabilities for the CASA-FA-MIB
 LAST-UPDATED 200012010000Z 
ciscoCasaFaCapabilityV12R01 AGENT-CAPABILITIES
SUPPORTS CISCO-CASA-FA-MIB
File name: ios
sysORDescr.9 = STRING: Agent capabilities for CISCO-CDP-MIB
 LAST-UPDATED 0506010000Z 
ciscoCdpCapabilityV11R01 AGENT-CAPABILITIES
SUPPORTS CISCO-CDP-MIB
File name: ios
sysORDescr.10 = STRING: Agent capabilities for the CHANNEL-MIB
 LAST-UPDATED 9712150000Z 
ciscoChannelCapabilityV12R00 AGENT-CAPABILITIES
SUPPORTS CISCO-CHANNEL-MIB
File name: ios
sysORDescr.11 = STRING: Agent capabilities for the CISCO-CIPCMPC-MIB
 LAST-UPDATED 9702190000Z 
ciscoCipCmpcCapabilityV11R03 AGENT-CAPABILITIES
 SUPPORTS CISCO-CIPCMPC-MIB
File name: ios
sysORDescr.12 = STRING: Agent capabilities for the CISCO-CIPCSNA-MIB
 LAST-UPDATED 9504160000Z 
ciscoCipCsnaCapabilityV11R00 AGENT-CAPABILITIES
SUPPORTS CISCO-CIPCSNA-MIB
File name: ios
sysORDescr.13 = STRING: Agent capabilities for the CISCO-CIPLAN-MIB
 LAST-UPDATED 9504160000Z 
ciscoCipLanCapabilityV11R00 AGENT-CAPABILITIES
SUPPORTS CISCO-CIPLAN-MIB
File name: ios
sysORDescr.14 = STRING: Agent capabilities for the CISCO-CIPTCPIP-MIB
 LAST-UPDATED 9504280000Z 
ciscoCipTcpIpCapabilityV11R00 AGENT-CAPABILITIES
SUPPORTS CISCO-CIPTCPIP-MIB
File name: ios
sysORDescr.15 = STRING: Agent capabilities for the CISCO-CIPTG-MIB
 LAST-UPDATED 9901250000Z 
ciscoCipTgCapabilityV12R03T AGENT-CAPABILITIES
 SUPPORTS CISCO-CIPTG-MIB
File name: ios
sysORDescr.16 = STRING: Agent capabilities for 
                                 CLASS-BASED-QOS-MIB.
 LAST-UPDATED 200409010000Z 
ciscoCBQosMibCapabilityV12R0306T AGENT-CAPABILITIES
SUPPORTS CISCO-CLASS-BASED-QOS-MIB
File name: ios
sysORDescr.17 = STRING: This is the Agent Capabilities for
                         CISCO-CONFIG_COPY-MIB.
 LAST-UPDATED 200403170000Z 
ciscoConfigCopyCapabilityV2R0175 AGENT-CAPABILITIES
SUPPORTS CISCO-CONFIG-COPY-MIB
File name: ios
sysORDescr.18 = STRING: Agent capabilities for CISCO-DSP-MGMT-MIB
 LAST-UPDATED 9803250000Z 
ciscoDspMgmtCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-DSP-MGMT-MIB
File name: ios
sysORDescr.19 = STRING: Agent capabilities for the DSPU-MIB
 LAST-UPDATED 9501250000Z 
ciscoDspuCapabilityV11R01 AGENT-CAPABILITIES
SUPPORTS CISCO-DSPU-MIB
File name: ios
sysORDescr.20 = STRING: The Agent capabilities for CISCO-ENTITY-SENSOR-MIB.
 LAST-UPDATED 200810060000Z 
cEntitySensorCapabilityV5R015 AGENT-CAPABILITIES
 SUPPORTS CISCO-ENTITY-SENSOR-MIB
File name: ios
sysORDescr.21 = STRING: Agent capabilities for CISCO-ENVMON-MIB
 LAST-UPDATED 9501230000Z 
ciscoEnvMonCapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS CISCO-ENVMON-MIB 
File name: ios
sysORDescr.22 = STRING: Agent capabilities for ETHERLIKE-MIB (RFC 2665).
 LAST-UPDATED 0001211400Z 
ciscoEtherlikeCapabilityV12R01 AGENT-CAPABILITIES
SUPPORTS ETHERLIKE-MIB
File name: ios
sysORDescr.23 = STRING: Agent capabilities for the CISCO-EVC-MIB.
 LAST-UPDATED 200808260000Z 
ciscoEvcCapabilityV12R02XO AGENT-CAPABILITIES
 SUPPORTS CISCO-EVC-MIB
File name: ios
sysORDescr.24 = STRING: Agent capabilities for RFC 1512 FDDI MIB.
 LAST-UPDATED 9411080000Z 
fddiCapabilityV10R03 AGENT-CAPABILITIES
SUPPORTS FDDI-SMT73-MIB
File name: ios
sysORDescr.25 = STRING: Agent capabilities for the FRAS Host MIB
 LAST-UPDATED 9702120000Z 
ciscoFrasHostCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-FRAS-HOST-MIB
File name: ios
sysORDescr.26 = STRING: Agent capabilities for CISCO-GATEKEEPER-MIB
 LAST-UPDATED 200004170000Z 
ciscoGatekeeperCapabilityV12R01 AGENT-CAPABILITIES
SUPPORTS CISCO-GATEKEEPER-MIB
File name: ios
sysORDescr.27 = STRING: Agent capabilities for CISCO-GPRS-GTP-MIB
 LAST-UPDATED 200106051600Z 
cgprsGtpCapabilityV12R01 AGENT-CAPABILITIES
 SUPPORTS CISCO-GPRS-GTP-MIB
File name: ios
sysORDescr.28 = STRING: Agent capabilities for CISCO-HSRP-MIB
 LAST-UPDATED 9808250000Z 
ciscoHsrpCapabilityV12R0 AGENT-CAPABILITIES
SUPPORTS CISCO-HSRP-MIB
File name: ios
sysORDescr.29 = STRING: Agent capabilities for CISCO-HSRP-EXT-MIB
 LAST-UPDATED 9808250000Z 
ciscoHsrpExtCapabilityV12R0 AGENT-CAPABILITIES
SUPPORTS CISCO-HSRP-EXT-MIB
File name: ios
sysORDescr.30 = STRING: Integrated CSU/DSU MIB module.  For T1 and Switched 56 kbps
                        interfaces.
 LAST-UPDATED 9601210000Z 
ciscoICsuDsuCapabilityV11R01 AGENT-CAPABILITIES
SUPPORTS CISCO-ICSUDSU-MIB
File name: ios
sysORDescr.31 = STRING: Agent capabilities for the CISCO-IETF-DHCP-SERVER-MIB.
 LAST-UPDATED 200702141200Z 
ciscoIetfDhcpServerCapabilityV62R00 AGENT-CAPABILITIES
 SUPPORTS CISCO-IETF-DHCP-SERVER-MIB
File name: ios
sysORDescr.32 = STRING: Agent capabilities for the CISCO-IETF-DHCP-SERVER-EXT-MIB.
 LAST-UPDATED 200702141200Z 
ciscoIetfDhcpServerExtCapabilityV62R00 AGENT-CAPABILITIES
 SUPPORTS CISCO-IETF-DHCP-SERVER-EXT-MIB
File name: ios
sysORDescr.33 = STRING: Agent capabilities for DIAL-CONTROL-MIB
 LAST-UPDATED 9709170000Z 
ciscoIetfDialControlCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-IETF-DIAL-CONTROL-MIB
File name: ios
sysORDescr.34 = STRING: Agent capabilities for DLSW-MIB
 LAST-UPDATED 9702280000Z 
ciscoIetfDlswCapabilityV11R00 AGENT-CAPABILITIES
SUPPORTS DLSW-MIB
File name: ios
sysORDescr.35 = STRING: Agent capabilities for ISDN-MIB (IETF RFC2127)
 LAST-UPDATED 9806210000Z 
ciscoIetfIsdnCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-IETF-ISDN-MIB
File name: ios
sysORDescr.36 = STRING: Agent capabilities for TCP-MIB
 LAST-UPDATED 9611270000Z 
ciscoIetfTcpCapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS TCP-MIB
File name: ios
sysORDescr.37 = STRING: Modification of linkDown trap objects
		and ifLastChange object
 LAST-UPDATED 200301210000Z 
ciscoIfCapabilityFrsm12V3R00 AGENT-CAPABILITIES
SUPPORTS IF-MIB
File name: ios
sysORDescr.38 = STRING: Agent capabilities for CISCO-IMAGE-MIB
 LAST-UPDATED 9501250000Z 
ciscoImageMIBCapabilityV10R01 AGENT-CAPABILITIES
SUPPORTS CISCO-IMAGE-MIB
File name: ios
sysORDescr.39 = STRING: The capabilities description of IP-MIB.
 LAST-UPDATED 201009300000Z 
ciscoIpCapabilityV12R2SE AGENT-CAPABILITIES
 SUPPORTS IP-MIB
File name: ios
sysORDescr.40 = STRING: The capabilities description of IP-FORWARD-MIB.
 LAST-UPDATED 201009230000Z 
ciscoIpForwardCapabilityV12R2SE AGENT-CAPABILITIES
 SUPPORTS IP-FORWARD-MIB
File name: ios
sysORDescr.41 = STRING: Agent capabilities for CISCO-ISDN-MIB
 LAST-UPDATED 9503100000Z 
ciscoIsdnCapabilityV10R03 AGENT-CAPABILITIES
SUPPORTS CISCO-ISDN-MIB
File name: ios
sysORDescr.42 = STRING: This is the Agent Capabilities definition for
        LLDP-EXT-MED-MIB'
 LAST-UPDATED 200912020000Z 
lldpExtMedCapabilityV12R02SE AGENT-CAPABILITIES
 SUPPORTS LLDP-EXT-MED-MIB
File name: ios
sysORDescr.43 = STRING: Agent capabilities for CISCO-MMAIL-DIAL-CONTROL-MIB
 LAST-UPDATED 9806010000Z 
ciscoMediaMailControlCapabilityV12R00 AGENT-CAPABILITIES
SUPPORTS CISCO-MMAIL-DIAL-CONTROL-MIB
File name: ios
sysORDescr.44 = STRING: Agent capabilities for MSDP-MIB
 LAST-UPDATED 200008220000Z 
ciscoMsdpCapabilityV12R01T AGENT-CAPABILITIES
SUPPORTS DRAFT-MSDP-MIB
File name: ios
sysORDescr.45 = STRING: The capabilities description of CISCO-NAC-NAD-MIB.
 LAST-UPDATED 200811100000Z 
ciscoNacNadCapCatOSV08R0701 AGENT-CAPABILITIES
 SUPPORTS CISCO-NAC-NAD-MIB
File name: ios
sysORDescr.46 = STRING: Agent capabilities for NOVELL-IPX-MIB
 LAST-UPDATED 9408180000Z 
ciscoNovellIpxCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS NOVELL-IPX-MIB
File name: ios
sysORDescr.47 = STRING: Agent capabilities for NOVELL-RIPSAP-MIB
 LAST-UPDATED 9408180000Z 
ciscoNovellRipSapCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS NOVELL-RIPSAP-MIB
File name: ios
sysORDescr.48 = STRING: The capabilities description of CISCO-PAE-MIB.
 LAST-UPDATED 200707090000Z 
ciscoPaeCapCatOSV08R0602 AGENT-CAPABILITIES
 SUPPORTS CISCO-PAE-MIB
File name: ios
sysORDescr.49 = STRING: Agent capabilities for CISCO-PING-MIB
 LAST-UPDATED 9408180000Z 
ciscoPingCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS CISCO-PING-MIB
File name: ios
sysORDescr.50 = STRING: Agent capabilities for the CISCO-PORT-QOS-MIB
 LAST-UPDATED 200809250000Z 
ciscoPortQosCapabilityV12R0250SE AGENT-CAPABILITIES
 SUPPORTS CISCO-PORT-QOS-MIB
File name: ios
sysORDescr.51 = STRING: The capabilities description of
        POWER-ETHERNET-MIB.
 LAST-UPDATED 200702080000Z 
cPowerEthernetCapCatOSV08R0401 AGENT-CAPABILITIES
 SUPPORTS POWER-ETHERNET-MIB
File name: ios
sysORDescr.52 = STRING: The capabilities description of
        CISCO-POWER-ETHERNET-EXT-MIB.
 LAST-UPDATED 200706270000Z 
cPowerEthExtCapCatOSV08R0601 AGENT-CAPABILITIES
 SUPPORTS CISCO-POWER-ETHERNET-EXT-MIB
File name: ios
sysORDescr.53 = STRING: Agent capabilities for CISCO-PROCESS-MIB
 LAST-UPDATED 200411050000Z 
ciscoProcessCapabilityV12R03T AGENT-CAPABILITIES
SUPPORTS CISCO-PROCESS-MIB
File name: ios
sysORDescr.54 = STRING: Agent capabilities for the RFC1213-MIB (MIB-II)
 LAST-UPDATED 200109081600Z 
ciscoRFC1213CapabilityV12R02 AGENT-CAPABILITIES
SUPPORTS RFC1213-MIB
File name: ios
sysORDescr.55 = STRING: Agent capabilities for RFC1231-MIB (Token Ring MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1231CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1231-MIB
File name: ios
sysORDescr.56 = STRING: Agent capabilities for RFC1243-MIB (Appletalk MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1243CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1243-MIB
File name: ios
sysORDescr.57 = STRING: Agent capabilities for RFC1285-MIB (FDDI MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1285CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1285-MIB
File name: ios
sysORDescr.58 = STRING: Agent capabilities for RFC1315-MIB (Frame Relay MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1315CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1315-MIB
File name: ios
sysORDescr.59 = STRING: Agent capabilities for RFC1381-MIB
 LAST-UPDATED 9408180000Z 
ciscoRFC1381CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1381-MIB
File name: ios
sysORDescr.60 = STRING: Agent capabilities for RFC1382-MIB (X.25 MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1382CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1382-MIB
File name: ios
sysORDescr.61 = STRING: Agent capabilities for RFC1398-MIB (Ethernet MIB).
 LAST-UPDATED 9408180000Z 
ciscoRFC1398CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1398-MIB
File name: ios
sysORDescr.62 = STRING: Agent capabilities for RFC1406-MIB (DS1 MIB)
 LAST-UPDATED 9408180000Z 
ciscoRFC1406CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RFC1406-MIB
File name: ios
sysORDescr.63 = STRING: Agent capabilities for RFC1407-MIB (DS3 MIB)
 LAST-UPDATED 9606190000Z 
ciscoRFC1407CapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS RFC1407-MIB
File name: ios
sysORDescr.64 = STRING: Agent capabilities for RFC1595-MIB (SONET MIB)
 LAST-UPDATED 9607290000Z 
ciscoRFC1595CapabilityV11R01 AGENT-CAPABILITIES
SUPPORTS RFC1595-MIB
File name: ios
sysORDescr.65 = STRING: Agent capabilities for RS-232-MIB
 LAST-UPDATED 9408180000Z 
ciscoRS232CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS RS-232-MIB
File name: ios
sysORDescr.66 = STRING: Agent capabilities for CISCO-RTTMON-MIB
 LAST-UPDATED 200603020000Z 
ciscoRttMonCapCRS1V3R3 AGENT-CAPABILITIES
 SUPPORTS CISCO-RTTMON-MIB
File name: ios
sysORDescr.67 = STRING: Agent capabilities for the SLB-MIB
 LAST-UPDATED 200010120000Z 
ciscoSlbCapabilityV12R01 AGENT-CAPABILITIES
SUPPORTS CISCO-SLB-MIB
File name: ios
sysORDescr.68 = STRING: Agent capabilities for the CISCO-SNA-LLC-MIB
 LAST-UPDATED 9505100000Z 
ciscoSnaLlcCapabilityV11R00 AGENT-CAPABILITIES
SUPPORTS CISCO-SNA-LLC-MIB
File name: ios
sysORDescr.69 = STRING: Agent capabilities for the SNA-SDLC-MIB
 LAST-UPDATED 9501230000Z 
ciscoSnaSdlcCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS SNA-SDLC-MIB
File name: ios
sysORDescr.70 = STRING: Agent capabilities for CISCO-SNAPSHOT-MIB
 LAST-UPDATED 9501230000Z 
ciscoSnapshotCapabilityV10R03 AGENT-CAPABILITIES
SUPPORTS CISCO-SNAPSHOT-MIB
File name: ios
sysORDescr.71 = STRING: Agent capabilities for SNMPv2-MIB
 LAST-UPDATED 9408180000Z 
ciscoSnmpV2CapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS SNMPv2-MIB
File name: ios
sysORDescr.72 = STRING: Agent capabilities for SNMPv2-PARTY-MIB
 LAST-UPDATED 9408180000Z 
ciscoSnmpV2PartyCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS SNMPv2-PARTY-MIB
File name: ios
sysORDescr.73 = STRING: The Agent Capabilities for CISCO-SONET-MIB.


      - ciscoSonetExtAxsmCapabilityV2R00 is for 

        ATM Switch Service Module(AXSM).



      - ciscoSonetExtAxsmCapabilityV2R11 is for 

        ATM Switch Service Module(AXSM).



      - ciscoSonetExt
sysORDescr.74 = STRING: Agent capabilities for SOURCE-ROUTING-MIB
 LAST-UPDATED 9408180000Z 
ciscoSourceRoutingCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS SOURCE-ROUTING-MIB
File name: ios
sysORDescr.75 = STRING: Initial version of this MIB module.
 LAST-UPDATED 200005260000Z 
ciscoSrpCapabilityV12R00 AGENT-CAPABILITIES
SUPPORTS CISCO-SRP-MIB
File name: ios
sysORDescr.76 = STRING: Agent capabilities for CISCO-TCP-MIB
 LAST-UPDATED 9408180000Z 
ciscoTcpCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS CISCO-TCP-MIB
File name: ios
sysORDescr.77 = STRING: Agent capabilities for the CISCO-TCPOFFLOAD-MIB
 LAST-UPDATED 9706230000Z 
ciscoTcpOffloadCapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS CISCO-TCPOFFLOAD-MIB
File name: ios
sysORDescr.78 = STRING: Agent capabilities for UDP-MIB
 LAST-UPDATED 9611270000Z 
ciscoUdpCapabilityV11R02 AGENT-CAPABILITIES
SUPPORTS UDP-MIB
File name: ios
sysORDescr.79 = STRING: Agent capabilities for CISCO-VINES-MIB
 LAST-UPDATED 9504070000Z 
ciscoVinesCapabilityV10R03 AGENT-CAPABILITIES
SUPPORTS CISCO-VINES-MIB
File name: ios
sysORDescr.80 = STRING: Agent capabilities for CISCO-VOICE-ANALOG-IF-MIB
 LAST-UPDATED 9706150000Z 
ciscoVoiceAnalogIfCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-VOICE-ANALOG-IF-MIB
File name: ios
sysORDescr.81 = STRING: Agent capabilities for CISCO-VOICE-DIAL-CONTROL-MIB
 LAST-UPDATED 9907120000Z 
ciscoVoiceDialControlCapabilityV12R00 AGENT-CAPABILITIES
SUPPORTS CISCO-VOICE-DIAL-CONTROL-MIB
File name: ios
sysORDescr.82 = STRING: Agent capabilities for CISCO-VOICE-IF-MIB
 LAST-UPDATED 9706150000Z 
ciscoVoiceIfCapabilityV11R03 AGENT-CAPABILITIES
SUPPORTS CISCO-VOICE-IF-MIB
File name: ios
sysORDescr.83 = STRING: Agent capabilities for MPLS-LSR-MIB
                LAST-UPDATED    
 LAST-UPDATED 200109011200Z 
mplsLsrMibCapabilityV12R0 AGENT-CAPABILITIES
SUPPORTS MPLS-LSR-MIB
File name: ios
sysORDescr.84 = STRING: Agent capabilities for OLD-CISCO-APPLETALK-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoAppletalkCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-APPLETALK-MIB
File name: ios
sysORDescr.85 = STRING: Agent capabilities for OLD-CISCO-CHASSIS-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoChassisCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-CHASSIS-MIB
File name: ios
sysORDescr.86 = STRING: Agent capabilities for OLD-CISCO-CPU-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoCpuCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-CPU-MIB
File name: ios
sysORDescr.87 = STRING: Agent capabilities for OLD-CISCO-DECNET-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoDECnetCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-DECNET-MIB
File name: ios
sysORDescr.88 = STRING: Agent capabilities for OLD-CISCO-ENV-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoEnvCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-ENV-MIB
File name: ios
sysORDescr.89 = STRING: Agent capabilities for OLD-CISCO-FLASH-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoFlashCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-FLASH-MIB
File name: ios
sysORDescr.90 = STRING: Agent capabilities for OLD-CISCO-INTERFACES-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoIfCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-INTERFACES-MIB
File name: ios
sysORDescr.91 = STRING: Agent capabilities for OLD-CISCO-IP-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoIpCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-IP-MIB
File name: ios
sysORDescr.92 = STRING: Agent capabilities for OLD-CISCO-MEMORY-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoMemoryCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-MEMORY-MIB
File name: ios
sysORDescr.93 = STRING: Agent capabilities for OLD-CISCO-NOVELL-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoNovellCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-NOVELL-MIB
File name: ios
sysORDescr.94 = STRING: Agent capabilities for OLD-CISCO-SYSTEM-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoSystemCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-SYSTEM-MIB
File name: ios
sysORDescr.95 = STRING: Agent capabilities for OLD-CISCO-TCP-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoTcpCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-TCP-MIB
File name: ios
sysORDescr.96 = STRING: Agent capabilities for OLD-CISCO-TS-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoTsCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-TS-MIB
File name: ios
sysORDescr.97 = STRING: Agent capabilities for OLD-CISCO-VINES-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoVinesCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-VINES-MIB
File name: ios
sysORDescr.98 = STRING: Agent capabilities for OLD-CISCO-XNS-MIB
 LAST-UPDATED 9408180000Z 
oldCiscoXnsCapabilityV10R02 AGENT-CAPABILITIES
SUPPORTS OLD-CISCO-XNS-MIB

thanks !!


I think we will need a full snmpbulkwalk @damardjati. If you could paste it to somewhere like pastebin that would be good.

Any update on the snmpbulkwalk @damardjati? 

Feel free to re-open this if you need @damardjati 